@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
}

body{
    background-color:#DDFFF7 ;
    
}

html{
    scroll-behavior: smooth;
}

@layer components {
    .projectbg {
      background-image: url(./assets/bg-for-projects.png);
     background-repeat: no-repeat;
     background-size: cover;
    }

}

@layer utilities {
   .link:hover .copy{
    visibility: visible;
   }
  }