@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
}

body{
    background-color:#DDFFF7 ;
    
}

@layer components {
    .projbg {
      background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fdark-blur&psig=AOvVaw2P6ZC0f5CZUXNaPPC1WBKc&ust=1708951681136000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCKDTqKPDxoQDFQAAAAAdAAAAABAE);
     background-repeat: no-repeat;
     background-size: cover;
    }

}

@layer utilities {
   .link:hover .copy{
    visibility: visible;
   }
  }