@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
}

body{
    background-color:#DDFFF7 ;
    
}

html{
    scroll-behavior: smooth;
}

@layer components {
    .projectbg {
      background-image: url(./assets/bg-for-projects.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    }

}

@layer utilities {
   .link:hover .copy{
    visibility: visible;
   }

   .jelly-image {
    display: block;
    border: rgb(112, 186, 165) 5px solid;
    height: auto;
    border-radius: 50%; /* Make the border circular */
    animation: blob-animation 12s infinite ease-in-out alternate; /* Apply animation */
  }
  
  @keyframes blob-animation {
    0% {
        border-radius: 39% 54% 79% 84% / 90% 70% 50% 20%;
    }
    50% {
      border-radius: 91% 30% 70% 10% / 80% 50% 10% 30%;
    }
    100% {
        border-radius: 90% 70% 49% 50% / 95% 68% 79% 99%;
    }
  }
.loader {
    height: 5px;
    width: 150px;
    --c:no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c),var(--c),#d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
  }
  }